<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">StreetArt Bdx</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Artists</a>
    </ul>
  </div>
</nav>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Streetarts" %>

<h1>Streetartists in Bordeaux</h1>

<div class="row">
  <% @artists.each do |artist| %>
    <div class="col-lg-3">
      <div class="card mb-4 shadow-sm" style="background-color: #800020; color: white;">
          <img src="<%= artist.photo %>" class="card-img-top" alt="<%= artist.name %>" width="250" height="250">
          <div class="card-body">
              <h5 class="card-title"><%= artist.name %></h5>
              <%= link_to "Show this artist", artist, class: 'btn btn-light' %>
          </div>
      </div>
  </div>
  <% end %>
</div>

<%= link_to "Add New", new_artist_path %>
