<p style="color: green"><%= notice %></p>

<% content_for :title, "Streetarts" %>

<h1>Streetartists in Bordeaux</h1>

<div class="row">
  <% @artists.each do |artist| %>
    <div class="col-lg-3">
      <div class="card mb-4 shadow-sm" style="background-color: #800020; color: white;">
          <img src="<%= artist.photo %>" class="card-img-top" alt="<%= artist.name %>">
          <div class="card-body">
              <h5 class="card-title"><%= artist.name %></h5>
              <%= link_to "Show this artist", artist, class: 'btn btn-light' %>
          </div>
      </div>
  </div>
  <% end %>
</div>

<%= link_to "Add New", new_artist_path %>
