<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">StreetArt Bdx</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="https://street-art-bordeaux-ruby.osc-fr1.scalingo.io/streetarts">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://street-art-bordeaux-ruby.osc-fr1.scalingo.io/artists">Artists</a>
    </ul>
  </div>
</nav>

<%= simple_form_for(@streetart) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :still_existing %>
    <%= f.input :date_of_appearance %>
    <%= f.input :photo%>
    <%= f.input :summary %>
    <%= f.association :artist, label: 'Artwork streetartist', include_blank: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
