<div id="<%= dom_id streetart %>">
  <p>
    <strong>Name:</strong>
    <%= streetart.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= streetart.location %>
  </p>

  <p>
    <strong>Still existing:</strong>
    <%= streetart.still_existing %>
  </p>

  <p>
    <strong>Date of appearance:</strong>
    <%= streetart.date_of_appearance %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= streetart.summary %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= streetart.photo %>
  </p>


  <p>
    <strong>Artist</strong>
    <%= link_to streetart.artist %>
  </p>
</div>
