


<div id="<%= dom_id streetart %>" class="card mb-4 shadow-sm" style="width: 22rem; background-color: #800020; color: white;">
  <img src="<%= streetart.photo %>" class="card-img-top" alt="<%= streetart.name %>">
  <div class="card-body">
    <h5 class="card-title"><%= streetart.name %></h5>
    <p class="card-text"><strong>Location:</strong> <%= streetart.location %></p>
    <p class="card-text"><strong>Still existing:</strong> <%= streetart.still_existing %></p>
    <p class="card-text"><strong>Date of appearance:</strong> <%= streetart.date_of_appearance %></p>
    <p class="card-text"><strong>Summary:</strong> <%= streetart.summary %></p>
    <button type="button" class="btn btn-light"><%=link_to streetart.artist %></button>
  </div>
</div>

