<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">StreetArt Bdx</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="https://street-art-bordeaux-ruby.osc-fr1.scalingo.io/streetarts">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://street-art-bordeaux-ruby.osc-fr1.scalingo.io/artists">Artists</a>
    </ul>
  </div>
</nav>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Streetarts" %>

<h1>Streetart in Bordeaux</h1>

<div class="row">
  <% @streetarts.each do |streetart| %>
    <div class="col-lg-3">
      <div class="card mb-4 shadow-sm" style="background-color: #800020; color: white;">
          <img src="<%= streetart.photo %>" class="card-img-top" alt="<%= streetart.name %> "width="250" height="250">
          <div class="card-body">
              <h5 class="card-title"><%= streetart.name %></h5>
              <%= link_to "Show this streetart", streetart, class: 'btn btn-light' %>
              <%= link_to streetart.artist, streetart.artist, class: 'btn btn-light' %>
          </div>
      </div>
  </div>
  <% end %>
</div>

<%= link_to "Add New", new_streetart_path %>
