<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">StreetArt Bdx</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="https://street-art-bordeaux-ruby.osc-fr1.scalingo.io/streetarts">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Artists</a>
    </ul>
  </div>
</nav>

<div class="p-3" style="background-color: #800020; color: white;">
<h1><%= @streetart.name %></h1>

<img src="<%= @streetart.photo %>" class="img-fluid" alt="<%= @streetart.name %>">
<p><strong>Location:</strong> <%= @streetart.location %></p>
<p><strong>Still existing:</strong> <%= @streetart.still_existing %></p>
<p><strong>Date of appearance:</strong> <%= @streetart.date_of_appearance %></p>
<p><strong>Summary:</strong> <%= @streetart.summary %></p>
<%= link_to @streetart.artist, @streetart.artist, class: 'btn btn-light' %>
<div>
  <%= link_to "Edit this streetart", edit_streetart_path(@streetart), class: "text-white" %> |
  <%= link_to "Back to streetarts", streetarts_path, class: "text-white" %>

  <%= button_to "Delete this streetart entry", @streetart, method: :delete %>
</div>

</div>
