<p style="color: green"><%= notice %></p>

<%= render @streetart %>

<div>
  <%= link_to "Edit this streetart", edit_streetart_path(@streetart) %> |
  <%= link_to "Back to streetarts", streetarts_path %>

  <%= button_to "Delete this streetart entry", @streetart, method: :delete %>
</div>
